<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Handwritten Math Expression Calculator</title>
      <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="navbar">
        <h1 style="color: white; font-weight: bold; font-family: 'Comic Sans MS', cursive, sans-serif; margin: auto;width: 80%; text-align: center; margin-top: 180px;  text-transform: uppercase">Handwritten Math <br>Expression Recognition</h1>
        <form action="/upload" method="post" enctype="multipart/form-data" style="margin-top: 30px; width: 80%; text-align: center; margin: auto;">
        </br>
        <span class="btn btn-default btn-file">
            Select Image <input type="file" name="image">
        </span><br><br>
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>
    </header>
</body>
</html>