<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Handwritten Math Expression Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1 style="font-weight: bold; margin: auto;width: 80%; text-align: center; margin-top: 220px;">Your photo:</h1>
    <div style="width: 90%; margin: auto; text-align: center">
        <img src="{{ url_for('send_file', filename=image_file_name)}}" style ="max-width: 500px; max-height: 450px; margin-top: 30px; margin-bottom: 10px">
        <h3><b>Expression: <span style="color: green;">{{expression}}</span></b></h3>
        <h3><b>Result: <span style="color: green;">{{ result }} </span></b></h3>
        <h3><a href="/">Back to Home Page</a></h3>
    </div>
</body>

</html>